<div class="row">
  <div class="col-sm-12">
    <div>
      <h3>Pricing Guide</h3>
      <table class="table table-bordered">
        <thead >
          <tr >
            <th class="ingredients-title" scope="col">Ingredient</th>
            <th class="uc-title" scope="col">Unit Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Coffee</th>
            <td>$0.75</td>
          </tr>
          <tr>
            <th scope="row">Decaf Coffee</th>
            <td>$0.75</td>
          </tr>
          <tr>
            <th scope="row">Sugar</th>
            <td colspan="2">$0.25</td>
          </tr>

          <tr>
            <th scope="row">Cream</th>
            <td>$0.20</td>
          </tr>
          <tr>
            <th scope="row">Steamed Milk</th>
            <td>$0.35</td>
          </tr>
          <tr>
            <th scope="row">Foamed Milk</th>
            <td colspan="2">$0.35</td>
          </tr>
          <tr>
            <th scope="row">Espresso</th>
            <td>$1.10</td>
          </tr>
          <tr>
            <th scope="row">Cocoa</th>
            <td>$0.90</td>
          </tr>
          <tr>
            <th scope="row">Whipped Cream</th>
            <td colspan="2">$1.00</td>
          </tr>
        </tbody>
      </table>
      <span class="bottom-50"></span>
    </div>
  </div>
</div>
